<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <style>
        .fieldError {
            border: 1px solid #bd2130;
        }

        .error-message {
            color: #bd2130;
            font-size: 0.9em;
            margin-top: 4px;
        }
    </style>
    <script th:src="@{/js/main.js}"></script>
</head>
<body>
<header>
    <h1>회원가입</h1>
</header>
<main>
    <form th:action="@{/members/new}" method="post" th:object="${memberForm}">
        <label>이름: <input type="text" th:field="*{name}" required placeholder="이름을 입력하세요"
                          th:class="${#fields.hasErrors('name')}? 'form-control fieldError' : 'form-control'"></label><br>
        <label>이메일:
            <input type="email" th:field="*{email}" required placeholder="이메일을 입력하세요"
                   th:classappend="${#fields.hasErrors('email')} ? 'fieldError' : ''">
        </label>
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error-message"></div><br>
        <button class="menu-btn" type="submit">가입</button>
    </form>
    <a class="menu-btn" th:href="@{/}">메인으로</a>
</main>
</body>
</html>
