<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Board Project</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/main.js}"></script>
</head>
<body>
<header>
    <h1>Board Project</h1>
</header>
<main>
    <section>
        <h2>회원 기능</h2>
        <div class="button-container">
            <a class="menu-btn" th:href="@{/members/new}">회원 가입</a>
            <a class="menu-btn" th:href="@{/members}">회원 목록</a>
        </div>
    </section>

    <section>
        <h2>게시글 기능</h2>
        <div class="button-container">
            <a class="menu-btn" th:href="@{/posts/new}">게시글 작성</a>
            <a class="menu-btn" th:href="@{/posts}">게시글 목록</a>
        </div>
    </section>
</main>
</body>
</html>
